fastapi
uvicorn
pydantic
langchain
langchain-openai
langchain-google-genai
langsmith
langchain-chroma
chromadb
sentence-transformers
requests
streamlit
python-dotenv
pytest
httpx

torch --index-url https://download.pytorch.org/whl/cpu